 /* Header */

header {
    position: relative;
    padding: 0 1rem;
}

.hide {
    display: none;
}

.container_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-icon {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-align: center;
}

.link_nav {
    padding-bottom: 2rem;
}

nav li {
    padding: 0 1rem;
    text-align: center;
}

#show_hamburger, #close_hamburger {
    position: absolute;
    right: 0;
    top: 0.8rem;
}

/* Section Introduction */ 

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.paragraph, .paragraph-about-me {
    margin: 1rem;
    text-align: center;
}

.container-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Section About me */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


/* Section Projects */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.container-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-title-project-date {
    width: 80%;
    margin: 1rem 0;
}

/* Footer */

.container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-icon-rs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

.copyright {
    text-align: center;
}  


/* Sparkle HTML */

/* Fiche Project */

.icon-project {
    margin-top: 5rem;
}

.sparkle-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.paragraph-project-overview {
    text-align: center;
}

/* Spécificité du projet */

.container-specificity {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: -1rem;
}

.container-skills, .container-langages, .container-tools {
    flex: 1;
}

.container-skills ul, .container-langages ul, .container-tools ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

/* Description du projet */

.overview-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container-preview-project {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 18rem;
    padding-left: 1rem;
}

.paragraph-description-project  {
    white-space: pre-line;
    text-align: justify;
    padding-left: 5rem;
    padding-right: 1rem;
}

/* Link du projet */ 

.link-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: 1rem;
}

.text-link-project {
    text-align: center;
}
