 /* Header */

header {
    position: relative;
    padding: 0 1rem;
}

.hide {
    display: none;
}

.container_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-align: center;
}

.link_nav {
    padding-bottom: 2rem;
}

nav li {
    padding: 0 1rem;
    text-align: center;
}

#show_hamburger, #close_hamburger {
    position: absolute;
    right: 0;
    top: 0.8rem;
}


/* Section Introduction */ 

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    gap: 3rem;
}

.paragraph, .paragraph-about-me {
    margin: 1rem;
    text-align: center;
}

.container-localisation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
}

.paragraph-localisation {
    align-self: flex-end;
}

/* Section About me */

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    gap: 3rem;
}

.paragraph-about-me {
    padding: 0 15%;
    margin: 5% 0;
}


/* Section Projects */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    gap: 3rem;
}

.title-date-project {
    display: block;
}
.wrapper-title-project-image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 2rem 0;
}

h3 {
    margin-top: 1rem;
    padding-left: 1rem;
}

.paragraph-project {
    padding: 0 15%;
    margin: 5% 0;
}


/* Footer */

footer {
    margin-top: 15rem;
}

.container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-icon-rs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

.copyright {
    text-align: center;
}  


/* Sparkle HTML */

/* Fiche Project */

.icon-project {
    margin-top: 5rem;
}

.sparkle-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.paragraph-project-overview {
    text-align: center;
    padding: 0 10%;
}

/* Spécificité du projet */

.container-specificity {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: -1rem;
}

.container-skills, .container-langages, .container-tools {
    flex: 1;
}

.container-skills ul, .container-langages ul, .container-tools ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

/* Description du projet */

.overview-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    gap: 2rem;
    padding: 10%;
}

.paragraph-description-project  {
    white-space: pre-line;
}

/* Link du projet */ 

.link-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: 1rem;
}

.text-link-project {
    text-align: center;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 375px) {
    .title-intro {
        padding-left: 3rem;
    }

    .container-specificity {
        text-align: center;
        gap: 0.5rem;
    }

    .container-skills ul, .container-langages ul, .container-tools ul {
        align-items: center;
    }

.text-link-project {
    padding: 0 1rem;
    }
}

@media screen and (min-width: 820px) {

    /* Header */

    #show_hamburger, #close_hamburger {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2rem;
    }

    .container-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .link_nav {
        padding: 0;
    }

    .collapse {
        display: flex;
    }

    /* Sparkle HTML */

/* Fiche Project */

.icon-project {
    margin-top: 10rem;
}

/* Spécificité du projet */

.container-specificity {
    gap: 10rem;
}


/* Link du projet */ 

.link-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: 1rem;
}

.text-link-project {
    text-align: center;
}
}

@media screen and (min-width: 1224px) {

    /* Header */

    #show_hamburger, #close_hamburger {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2rem;
    }

    .container-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .link_nav {
        padding: 0;
}

    .collapse {
        display: flex;
    }

    

    /* Sparkle HTML */

/* Fiche Project */

.icon-project {
    margin-top: 10rem;
}

/* Spécificité du projet */

.container-specificity {
    gap: 20rem;
}

/* Description du projet */

.overview-project {
    margin-top: 10rem;
}


/* Link du projet */ 

.link-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: 1rem;
}

.text-link-project {
    text-align: center;
}
}