@font-face {
    font-family: 'Abril Fatface';
    font-weight: 400;
    src: url('../fonts/AbrilFatFace/AbrilFatface-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 400;
    src: url('../fonts/AnonymousPro/AnonymousPro-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Anonymous Pro';
    font-style: italic;
    src: url('../fonts/AnonymousPro/AnonymousPro-Italic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 700;
    src: url('../fonts/AnonymousPro/AnonymousPro-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Anonymous Pro';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/AnonymousPro/AnonymousPro-BoldItalic.ttf') format('truetype')
}

:root {

    /* Couleurs variables */

    --color-white: #F2F2F2;
    --color-blue: #254559;
    --color-green: #537345;

    /* Font variables */

    --fnt-abril: "Abril Fatface";
    --fnt-anonymous: "Anonymous Pro";
}

html {
    scroll-behavior: smooth;
}

 /* Header */

.logo {
    font-family: var(--fnt-abril);
    font-size: 2.5em;
    color: var(--color-blue);
    transition: color 1s ease-in-out;
}

.logo:hover {
    color: var(--color-green);
}

.icon-hamburger {
    width: 2.5rem;
}



a {
    text-decoration: none;
    color: var(--color-blue);
}

.link_nav {
    font-family: var(--fnt-abril);
    font-size: 2em;
    color: var(--color-blue);
}

.custom-link {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 700;
    position: relative;
}

.custom-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-green);
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.custom-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Section Introduction */ 

.container-intro h1 {
    font-family: var(--fnt-abril);
    font-size: 2em;
    color: var(--color-blue);
}

.point {
    color: var(--color-green);
}

.paragraph, .paragraph-about-me, .paragraph-project, .paragraph-localisation {
    font-family: var(--fnt-anonymous);
    font-size: 1.5em;
    color: var(--color-green);
}

.icon-paris {
    position: relative;
    width: 2rem;
}

@keyframes slideInFromLeft {
    0% {
    transform: translateX(-100%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
    transform: translateX(100%);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
    transform: translateY(100%);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}

.container-intro {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.container-job {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.container-localisation {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.icon-paris:hover::before,
.icon-paris:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 4px; 
    background: var(--color-green);
    border-radius: 50%;
    animation: firework 1s ease-out forwards;
}

.icon-paris:hover::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon-paris:hover::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes firework {
    0% {
        width: 4px; 
        height: 4px; 
        opacity: 1;
    }
    100% {
        width: 100px; 
        height: 100px; 
        opacity: 0;
    }
}



/* Section About me */

.title {
    font-family: var(--fnt-abril);
    font-size: 2em;
    color: var(--color-blue);
}

/* Section Projects */

.img-projects {
    width: 20rem;
    border-radius: 45px;
    object-fit: cover;
    transition: transform .4s;
}

.img-projects:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}

h3 {
    font-family: var(--fnt-abril);
    font-size: 1.5em;
    color: var(--color-blue);
}

.date {
    font-family: var(--fnt-abril);
    font-size: 1em;
    color: var(--color-green);
}

.paragraph-project {
    font-size: 1.5em;
}

/* Footer */

.icon-rs {
    width: 2rem;
    transition: transform .3s ease-in-out;
}

.icon-rs:hover {
    animation: shake .5s infinite;
}

@keyframes shake {
    0% { transform: translateX(0px) rotate(0deg); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(0px) rotate(0deg); }
    75% { transform: translateX(5px) rotate(5deg); }
    100% { transform: translateX(0px) rotate(0deg); }
}

.copyright {
    font-family: var(--fnt-anonymous);
    font-size: 1em;
    color: var(--color-blue);
}

.icon-copyright {
    width: 1rem;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    position: relative;
    margin-top: 5rem;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    70% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

.branch {
    width: 25px;
    height: 20px;
    background-color: var(--color-green);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    bottom: 50px;
}

.tree:hover .branch {
    animation: swing 2s infinite ease-in-out;
}

.branch:nth-child(2) {
    width: 30px;
    height: 20px;
    bottom: 40px;
}

.branch:nth-child(3) {
    width: 35px;
    height: 20px;
    bottom: 30px;
}

.branch:nth-child(4) {
    width: 40px;
    height: 20px;
    bottom: 20px;
}

.trunk {
    width: 3px;
    height: 20px;
    background-color: var(--color-blue);
    position: absolute;
    bottom: 0;
}


/* Sparkle HTML */

/* Fiche Project */

.icon-project {
    animation: slide-up 1s ease-out forwards;
    opacity: 0;
    position: relative;
    top: 50px;
    width: 4rem;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.title-project {
    font-family: var(--fnt-abril);
    font-size: 3em;
    color: var(--color-blue);
    animation: slide-up 1s ease-out forwards;
    opacity: 0;
    position: relative;
    top: 50px;
}

.paragraph-project-overview {
    font-family: var(--fnt-anonymous);
    font-size: 1em;
    color: var(--color-blue);
}

.separator {
    width: 90%;
    height: 1px;
    background-color: var(--color-green);
}

.container-specificity ul li {
    list-style: none;
}

.sub-title, .sub-title-preview {
    font-family: var(--fnt-abril);
    font-size: 1.5em;
    color: var(--color-blue);
}

.list-project {
    font-family: var(--fnt-anonymous);
    font-size: 1em;
    color: var(--color-green);
}

/* Spécificité du projet */

.paragraph-description-project {
    font-family: var(--fnt-anonymous);
    font-size: 0.8em;
    color: var(--color-green);
}

.sub-title-preview {
    font-size: 1.1em;
}

.style-bold {
    font-weight: bold;
}

/* Link du projet */

.text-link-project {
    font-family: var(--fnt-abril);
    font-size: 1em;
    color: var(--color-blue);
}

.icon-arrow {
    width: 1.5rem;
}


/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 375px) {
    
    .img-projects {
        width: 17rem;
        height: 12rem;
    }

    .sub-title, .sub-title-preview {
        font-size: 1em;
    }
    
    .text-link-project {
        font-size: 1em;
    }
}

@media screen and (min-width: 820px) {

    /* Header */

    .link_nav {
        font-size: 1.5em;
    }


    /* Section Introduction */

    .container-intro h1 {
        font-size: 3.5em;
    }
    
    .paragraph, .paragraph-about-me, .paragraph-project, .paragraph-localisation {
        font-size: 1.8em;
    }

    .icon-paris {
        width: 3rem;
    }

    /* Section About me */

.title {
    font-size: 3em;
}


/* Section Projects */

.img-projects {
    width: 40rem;
    height: 30rem;
}

h3 {
    font-size: 2.5em;
}

.paragraph-project {
    font-size: 2em;
}

/* Footer */



.copyright {
    font-size: 2em;
}

.icon-copyright {
    width: 2rem;
}

/* Sparkle HTML */

.icon-project {
    width: 5rem;
}

.title-project {
    font-size: 4em;
}

.paragraph-project-overview {
    font-size: 1.5em;
    padding: 0 10%;
}


.sub-title, .sub-title-preview {
    font-size: 2em;
}

.list-project {
    font-size: 1.5em;
}

/* Spécificité du projet */

.paragraph-description-project {
    font-size: 1.5em;
}

.sub-title-preview {
    font-size: 2em;
}

/* Link du projet */

.text-link-project {
    font-size: 1.5em;
}

.icon-arrow {
    width: 2rem;
}

}

@media screen and (min-width: 1224px) {

    /* Section Introduction */

    .container-intro h1 {
        font-size: 3.5em;
    }
    
    .paragraph, .paragraph-about-me, .paragraph-project, .paragraph-localisation {
        font-size: 1.8em;
    }

    .icon-paris {
        width: 3rem;
    }

    /* Section About me */

.title {
    font-size: 3em;
}


/* Section Projects */

.img-projects {
    width: 55rem;
    height: 30rem;
}

h3 {
    font-size: 2.5em;
}

.paragraph-project {
    text-align: left;
    font-size: 2em;
}

/* Footer */

.icon-rs {
    width: 2rem;

}

.copyright {
    font-size: 2em;
}

.icon-copyright {
    width: 2rem;
}

/* Sparkle HTML */

.icon-project {
    width: 5rem;
}

.title-project {
    font-size: 4em;
}

.paragraph-project-overview {
    font-size: 1.5em;
    padding: 0 10%;
}


.sub-title, .sub-title-preview {
    font-size: 2em;
}

.list-project {
    font-size: 1.5em;
}

/* Spécificité du projet */

.paragraph-description-project {
    font-size: 2em;
}

.sub-title-preview {
    font-size: 2em;
}

/* Link du projet */

.text-link-project {
    font-size: 2em;
}

.icon-arrow {
    width: 2rem;
}

}